*{
  margin: 0px;
  padding: 0px;
  font-family: monospace, Tahoma, sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

#background{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url('../img/macback2.png') no-repeat;
  background-size: cover;
  z-index: -500;
}

#title-face{
  position: relative;
  width: 35vw;
  height: 0vh;
  text-align: center;
  top: 55vh;
  left: 60vw;
  color: aliceblue;
}

#title-face h1{
  font-size: 3.8vw;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
}

#title-face h2{
  font-size: 1.6vw;
  font-weight: bold;
  line-height: 1.2vw;
  color: #b46c01;
}

#title-face h3{
  font-size: 2vw;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  line-height: .7vw;
}

#navbar{
  position: relative;
  top: 94vh;
  width: 80%;
  height: 6vh;
  margin: auto;
  background-color: rgba(0, 61, 117, 0.7);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -moz-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, .5);
}

#navbar ul {
  text-align: center;
}

#navbar ul li{
  display: inline-block;
  padding: 1.5vh 45px 1vh 45px;
}

.links{
  float: left;
}

.icons{
  float: right;
}

#navbar ul li a{
  text-decoration: none;
  font-size: 2vh;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, .5);
  color: rgb(255, 255, 255);
}

#navbar ul li a:hover {
  color: #b46c01;
  cursor: pointer;
}

#navbar ul li a:active {
  color: #b46c01;
  cursor: pointer;
}

.page{
  position: relative;
  background-color: rgba(251, 247, 239,.8);
  width: 80%;
  top: 94vh;
  height: 2000px;
  margin: auto;
  border: 0px solid rgb(251, 247, 239);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, .5);
